 .w-100 {
     width: 100% !important;
     height: 800px;
 }

 .video-slide {
     height: 800px;
     width: 100vw;
     object-fit: cover;
     margin-top: -10px;
 }

 .caption {
     font-size: 26px;
     color: #dee2e6;

     @media screen and (max-width: 1024px) {
         font-size: 24px;
     }


     @media screen and (max-width: 768px) {
         font-size: 18px;
     }

     @media screen and (max-width: 425px) {
         font-size: 18px;
     }
 }

 .sub-caption {
     font-size: 48px;
     color: white;

     @media screen and (max-width: 1024px) {
         font-size: 30px;
     }

     @media screen and (max-width: 768px) {
         font-size: 24px;
     }

     @media screen and (max-width: 425px) {
         font-size: 24px;
     }
 }

 .caption-link {
     color: white;
     text-decoration: none;
     font-size: 21px;
     --bs-link-hover-color: red;
 }